<form class="mt-4" name="container-form" method="POST" action="/khoa-hoc/handle-form-actions">
    <div class="d-flex align-items-center">
        <h3>Khóa học của tôi</h3>
        <a class="ml-auto" href="/me/trash/courses" style="font-size: 32px; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                viewBox="0 0 16 16">
                <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
            </svg>

            ({{countDelete}})</a>
    </div>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                chọn tất cả
            </label>
        </div>

        <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
            <option value="">-- Hành động --</option>
            <option value="delete">xóa</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit" disabled>Thực hiện</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">description
                    {{{sortable 'description' _sort}}}
                </th>
                <th scope="col">videoId</th>
                <th scope="col">slug</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
                    </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <th>{{this.name}}</th>
                <td>{{this.description}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.slug}}</td>
                <td>
                    <a href="/khoa-hoc/{{this._id}}/edit" class="btn btn-outline-success">Sửa</a>
                    <a href="/khoa-hoc/delete" data-id="{{this._id}}" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#delete-course-model">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa có khóa học nào
                    <a href="/khoa-hoc/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete --}}
<div id="delete-course-model" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- DELETE HIDDEN FORM --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnDeleteCourse = document.querySelector('#btn-delete-course');
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var deleteForm = document.forms['delete-course-form'];
        var courseId;
        var checkboxAll = $('#checkbox-all');
        var checkboxCourseItems = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/khoa-hoc/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        // change check box all
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked');
            checkboxCourseItems.prop('checked', isChecked);
            renderCheckAllSubmit();
        })

        // Course item checkbox changed
        checkboxCourseItems.change(function () {
            var isCheckedAll = checkboxCourseItems.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmit();
        })

        // re-render check all submit btn
        function renderCheckAllSubmit() {
            var checkedLength = $('input[name="courseIds[]"]:checked').length;
            if (checkedLength) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }

    })

</script>